@charset "utf-8";
/*PC Public Css Start */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,h1,h2,h3,h4,h5,h6,fieldset,img,input{
	margin:0;
	padding:0;
}
body{
	font-size:12px;
	font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
}
.float_l{
	float:left;
}
.float_r{
	float:right;
}
.clearfix:after{
	content:"";
	height:0;
	display:block;
	clear:both;
	overflow:hidden;
	visibility:hidden;
}
.zzc_modal{
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:1000;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.4);
	.box{
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-155px;
		margin-top:-90px;
		width:310px;
		height:180px;
		border:2px solid #ededed;
		.boxTit{
			width:100%;
			height:40px;
			background:#463a7e;
			font:normal 16px/39px "microsoft yahei";
			text-indent:20px;
			color:#fff;
			span{
				float:right;
				cursor:pointer;
				padding-right:10px;
				font-size:28px;
			}
		}
		.boxContent{
			width:100%;
			height:140px;
			background:#fff;
			.success{
				width:100%;
				height:100px;
				color:#000;
				color:#463a7e;
				font-size:24px;
				text-align:center;
				line-height:100px;
			}
			.boxBtn{
				width:240px;
				margin:0 auto;
				height:40px;
				text-align:center;
				a{
					display:inline-block;
					width:100px;
					height:20px;
					line-height:20px;
					background:red;
					&:first-child{
						background:#e93b39;
						color:#fff;
					}
					&:last-child{
						background:#ededed;
						color:#999;
					}
				}
			}
		}
	}
}