body{
	background:#ededed;
}
section{
	width:1200px;
	margin:0 auto;
	/*小导航*/
	.smallNav{
		width:100%;
		padding:30px 0 20px;
		overflow:hidden;
		position:relative;
		p{
			font-family: serif;
			float:left;
			font-size:12px;
			a{
				padding:5px;
				font-family:"宋体";
				color:#666;
				&:hover{
					color:#e93b39;
				}
			}
		}
		span{
			float:right;
			color:#666;
			font-family:"宋体";
		}
	}
	/*放大镜*/
	.contents{
		box-shadow:0 2px 5px #ccc;
		width:1110px;
		padding:40px 50px 12px 40px;
		background:#fff;
		overflow:hidden;
		.info_left{
			float:left;
			height:400px;
			width:481px;
			border:1px solid #ededed;
			margin-bottom:85px;
			z-index:2;
			.imgShow{
				width: 80px;
				height: 400px;
				.dd{
					width:80px;
					height:400px;
					border-right:1px solid #ededed;
					float:left;
					position:relative;
					overflow:hidden;
					.move_box{
						position:absolute;
						left:0;
						top:0;
						width:80px;
						height:400px;
						overflow:hidden;
						float: left;
						li{
							display: block;
							width: 80px;
							height:79px;
							float: left;
							margin:0 0 1px 0;
							position:relative;
							overflow:hidden;
						}
						.on{
							i{
								position:absolute;
								left:0;
								top:0;
								width:80px;
								height:80px;
								position:absolute;
								background:url("../img/detail_icon6.png")no-repeat;
								background-position:-141px -238px;
							}
						}
					}
				}
				.bigImgBox{
					width:400px;
					height:400px;
					float:left;
					position:relative;
					.bigImg{
						width:400px;
						height: 400px;
					}
					.zoomSpan{
						display:none;
						position:absolute;
						left:200px;
						top:128px;
						width:200px;
						height:200px;
						background:url("../img/zoomspan.gif")repeat;
						text-align:center;
						overflow:hidden;
						cursor:move;
					}
					.large_box{
						position:absolute;
						display:none;
						left:430px;
						top:-1px;
						width:460px;
						height:400px;
						overflow:hidden;
						border:1px solid #ededed;
						.img_modal{
							z-index:999;
							position:absolute;
							width:560px;
							height:500px;
							left:0;
							top:0;
						}
					}
				}
			}
			.share_box{
				padding:20px 0 0 14px;
				overflow:hidden;
				.share_text{
					float:left;
					span{
						width:70px;
						float:left;
						color:#676767;
						i{
							display:inline-block;
							width:18px;
							height:18px;
							vertical-align:middle;
							background:url("../img/detail_icon6.png")no-repeat;
						}
						a{
							color:#666;
						}
					}
					.share_1{
						width:104px;
						i{
							padding-right:10px;
							background-position:0 -160px;
						}
					}
					.share_2{
						width:104px;
						i{
							padding-right:10px;
							background-position:0 -201px;
						}
					}
					.share_3{
						width:104px;
						i{
							padding-right:10px;
							background-position:3px -243px;
						}
					}
					.share_4{
						width:70px;
						i{
							background-position:0 1px;
						}
					}
					.share_5{
						width:70px;
						i{
							background-position:0 -39px;
						}
					}
				}
			}
		}
		.info_right{
			width:597px;
			float:right;
			min-height:400px;
			overflow:hidden;
			.proName{
				h2{
					width:450px;
					font:normal 16px/24px "microsoft yahei";
					color:#323232;
				}
				padding:0 0 20px 20px;
				background:url("../img/detail_icon6.png")repeat-x;
				background-position:0 bottom;
			}
			.proDetails{
				padding:15px 0 10px 20px;
				color:#666666;
				.proDetails_top{
					overflow:hidden;
					margin-bottom:8px;
					.price_tit{
						float: left;
						padding-right: 17px;
						width: 60px;
						line-height: 42px;
						height: 33px;
						font-size: 20px;
						font-weight: 500;
						color: #e93a38;
					}
					.price{
						float:left;
						min-height:32px;
						line-height:22px;
						width:495px;
						i{
							font-size:12px;
							font-weight:500;
							font-style:normal;
							color:#e93a38;
							vertical-align:-8px;
							display:inline-block;
							padding-right:1px;
						}
						span{
							font-size:30px;
							font-weight:500;
							color:#e93a38;
							vertical-align:middle;
							display:inline-block;
							line-height:28px;
							font-family:Tahoma;
						}
					}
				}
				.proDetails_bottom{
					overflow:hidden;
					margin-bottom:10px;
					.price_place{
						float:left;
						width:60px;
						padding-right:17px;
						line-height:24px;
					}
					.send_time{
						float:left;
						line-height:22px;
						width:495px;
						position:relative;
						span{
							em,i{
								font-style:normal;
							}
							.em_place{
								color:#7e68b3;
							}
							.em_i{
								color:#999;
							}
						}
						.estimate{
							margin-left:10px;
							color:#999;
							i{
								color:#e93b39;
							}
						}
					}
				}
			}
			.operation{
				padding:24px 0 0 20px;
				color:#666;
				background:url("../img/detail_icon6.png")repeat-x;
				background-position:0 -1299px;
				overflow:hidden;
				.buyNum{
					margin:-4px 0 8px;
					overflow:hidden;
					.num_text{
						float:left;
						width:60px;
						padding-right:17px;
						line-height:24px;
					}
					.num_operation{
						float:left;
						height:30px;
						line-height:22px;
						width:495px;
						a{
							float:left;
							background:url("../img/detail_icon6.png")no-repeat;
							width:21px;
							height:22px;
						}
						span{
							float:left;
							border-top:1px solid #ededed;
							border-bottom:1px solid #ededed;
							height:18px;
							padding-top:2px;
							display:block;
							background:#fff;
							input{
								border:none;
								outline:none;
								vertical-align:top;
								width:34px;
								height:18px;
								line-height:18px;
								text-align:center;
								color:#333;
							}
						}
						.num_down{
							background-position:right -69px;
							&:hover{
								background-position-x:-178px;
							}
						}
						.num_up{
							background-position:right -47px;
							&:hover{
								background-position-x:-178px;
							}
						}
					}
				}
				.buyBtn{
					margin-top:10px;
					color:#e93a38;
					a{
						float:left;
						width:160px;
						height:45px;
						margin:10px 20px 20px 0;
						background:url("../img/detail_icon6.png")no-repeat;
					}
					.topanic{
						background-position:right -551px;
					}
					.tocart{
						background-position:right -597px;
					}
				}
			}
		}
	}
	.productShow_box{
		padding-top:30px;
		width:1210px;
		margin-left:-5px;
		.product_left{
			float:left;
			width:200px;
			padding:0 5px;
			h3{
				height:36px;
				width:100%;
				line-height:36px;
				text-align:center;
				color:#fff;
				background:#333333;
				box-shadow:0 2px 5px #ccc;
				font-size:12px;
				font-weight:normal;
			}
			.showLeftCon{
				box-shadow:0 2px 5px #ccc;
				margin-bottom:15px;
				width:200px;
				border-top:0;
				background:#fff;
				overflow:hidden;
				ul{
					overflow:hidden;
					li{
						overflow:hidden;
						position:relative;
						width:150px;
						margin:0 auto;
						border-top:1px solid #f1f1f1;
						padding:10px 0;
						transition:all 1s;
						a{
							overflow: hidden;
    						position: absolute;
							width: 150px;
						    height: 71px;
						    left: 0;
						    top: 10px;
						}
						.show_img{
							float:left;
							margin-top:10px;
							width:50px;
							transition:all .3s;
							overflow:hidden;
							border:1px solid transparent;
							img{
								width:100%;
							}
						}
						.show_text{
							float:right;
							width:90px;
							.show_name{
								height:36px;
								line-height:18px;
								color:#656565;
								overflow:hidden;
							}
							.show_price{
								color:#656565;
								padding-top:5px;
							}
						}
					}
				}
			}
		}
		.product_right{
			float:right;
			width:970px;
			overflow:hidden;
			padding:0 5px;
			.firstNav{
				z-index:999;
				ul{
					overflow:hidden;
					li{
						color: #fff;
					    height: 36px;
					    line-height: 36px;
					    text-align: center;
					    float: left;
					    width: 189px;
					    position: relative;
					    cursor: pointer;
					    background-color: #333333;
					    border-right: 1px solid #fff;
					    a{
					    	display:inline-block;
					    	width:100%;
					    	height:36px;
					    }
					    &:first-child{
					    	background:#7f69b3;
					    	a{
					    		color:#fff;
					    	}
					    }
					    &:last-child{
					    	width:210px;
					    	height:36px;
					    	background:url("../img/detail_icon6.png")no-repeat;
					    	background-position:-11px -642px;
					    }
					}
				}
			}
			.content{
				background:#fff;
				box-shadow:0 2px 5px #ccc;
				.content_detail{
					display:block;
					padding:0 30px;
					overflow:hidden;
					.promiseImg{
						margin:40px 0 0;
					}
				}
				.parameter{
					height:17px;
					overflow:hidden;
					width:100%;
					position:relative;
					padding:50px 0 20px;
					span{
						display:block;
						background:url("../img/details_2015bg.gif")no-repeat;
						height:17px;

					}
				}
				.pro_info{
					line-height:34px;
					span{
						display:inline-block;
						background:#f6f6f6;
						height:34px;
						line-height:34px;
						padding-left:25px;
						color:#333;
						width:198px;
					}
				}
				.pro_story{
					.story_top{
						height:17px;
						width:100%;
						position:relative;
						padding:50px 0 20px;
						span{
							display:block;
							height:17px;
							background:url("../img/details_2015bg.gif")no-repeat;
							background-position:0 -17px;
						}
					}
					.story_bottom{
						overflow:hidden;
						border:1px solid rgb(223,223,223);
						.brandImg{
							float:left;
							width:320px;
							height:240px;
							img{
								width:100%;
							}
						}
						.brandText{
							float:right;
							width:507px;
							height:220px;
							overflow:hidden;
							padding:10px 40px;
							background:#f5f5f5;
							.tit{
								text-align:center;
								color:#666;
								font:bold 24px/24px Microsoft Yahei;
								padding:30px 0 16px;
							}
							.con{
								color:#666;
								font-size:12px;
								line-height:21px;
							}
						}
					}
				}
				.pro_con{
					.top{
						height: 17px;
					    overflow: hidden;
					    width: 100%;
					    position: relative;
					    padding: 50px 0 20px;
					    span{
					    	display:block;
					    	height:17px;
					    	background:url("../img/details_2015bg.gif")no-repeat;
					    	background-position:0 -51px;
					    }
					}
					p{
						text-align:center;
						img{
							max-width:910px;
						}
					}
				}
			}
		}
	}
}